*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.nav {
  width: 100vw;
  height: 12vh;
  background: #222222;
}

.nav-inner {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}

.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
}

.nav__link:hover {
  background: rgba(255, 255, 255, 0.05);
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.2rem 0 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: #009579;
}

.service-submenu {
  position: relative;
}

.service-submenu:hover .submenu-option1 {
  /* display: block; */
  animation: fadeInSlideDown 250ms ease;
  animation-fill-mode: forwards;
}

.submenu-option1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: grey;
  opacity: 0;
  visibility: hidden;
}

.submenu-option1 a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: all 250ms ease;
}

.submenu-option1 a:hover {
  background-color: rgb(71, 71, 71);
}

.transportation-grid {
  padding-top: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-cell img {
  max-width: 250px;
}

.map-container {
  max-height: 30vh;
}

/* do some dropdown menu animations */
@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}
