<h1 class="transportation-title">Transportation Services</h1>
<div class="transportation-grid">
  <div class="air grid-cell">
    <p>Air</p>
    <a href="#"><img src="/static/assets/plane.jpg" /></a>
  </div>
  <div class="ocean grid-cell">
    <p>Ocean</p>
    <img src="/static/assets/ocean.webp" />
  </div>
  <div class="truck grid-cell">
    <p>Truck</p>
    <img src="/static/assets/truck.webp" />
  </div>
  <div class="warehouse grid-cell">
    <p>Warehouse</p>
    <img src="/static/assets/warehouse.webp" />
  </div>
</div>
